:root {
  background-color: (whitesmoke
  );
  --primary-color: dark rgb(0, 255, 34);
  --secondary-color: rgb(25, 0, 255);
  --tertiary-color: rgb(12, 177, 34);
}

h1 {
  color: var(--secondary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  margin: 0;
  font-size: 50px;
  align-items: center;
}
h2 {
  color: var(--secondary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  margin: 0;
  font-size: 28px;
  align-items: center;
}

.container {
  margin: auto;
  align-items: center;
  display: flexbox;
  justify-content: space-between;
  padding: 40px 35px;
  width: 100%;
  text-align: center;
}

input {
  text-align: center;
}

#startBtn {
  background: var(--secondary-color);
  color: var(--primaryary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 24px;
  width: 25%;
}

#initials {
  background: var(--tertiary-color);
  color: var(--primaryary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  width: 20%;
}

#submitScore {
  background: var(--secondary-color);
  color: var(--primaryary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  width: 10%;
}

#replay {
  background: var(--secondary-color);
  color: var(--primaryary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  width: 10%;
}

#endGameBtns {
  width: 100%;
}

#clearHighscore {
  background: var(--secondary-color);
  color: var(--primaryary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  width: 10%;
}

#highscoreContainer {
  margin: auto;
  align-items: center;
  display: flexbox;
  justify-content: center;
  padding: 40px 35px;
  width: 100%;
  text-align: center;
}
